.d{
    color: aqua;
    background: black;
}
.dd{
    color:black;
    background: aqua;
}
.ddd{
    color: blue;
    background: antiquewhite;
}
.dddd{
    color: blueviolet;
    background: beige;
}
.q{
    color: azure;
}