.par{
    height: 200px;
    background: blue;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: center;
}
.cube{
    height: 200px;
    width:200px ;
    display: flex;
align-items:center;
    justify-content: center;
    background:red;
    position:relative;
    top: 280px;
    margin: 50px;

}
.par1{
    height: 300px;
    width: auto;
    background: mediumpurple;
    display: flex;
    justify-content: center;
    position: relative;
    top: 260px;
}
.tekst{
    color: red;
    display: block;
    text-align:center;
}